<main class="login-main">

    <div class="login-container">
        <section class="login-section">
            <div class="welcome">
                <h1 class="logo">SYLVARA</h1>
                <h2>¡BIENVENIDO DE VUELTA!</h2>
                <p>Estamos Felices De Verte Nuevamente</p>
                

            </div>

            <form [formGroup]="loginForm" (submit)="handleSubmit() " class="form"> 
    
                <input id="email" class="input" formControlName="email" type="text" placeholder="Ingresa tu correo electronico" >

                
                <input id="password" class="input" formControlName="password" type="text" placeholder="Ingresa tu contraseña">
                
                <div class="remember-group">

                    <div>

                        <input id="remember-me" class="remember-input" type="checkbox" >
                        <label for="remember-me">Recordarme</label>

                    </div>

                    <a href="">¿Olvidaste tu contraseña?</a>

                </div>

                <button class="button-login-register">Iniciar sesión</button>


                <div class="register-link">

                    <span>¿Todavía no tienes una cuenta? </span>

                    <a href="">Registrate</a>

                </div>
            </form>



        </section>

        <section class="image-login-section">

            <img class="image-login" src="https://www.shutterstock.com/image-photo/rows-carrot-daucus-carota-plants-600nw-2593335025.jpg" alt="">

        </section>

    </div>



</main>