<div class="my-projects-container">

  <div class="section-header">
    <h2 class="section-title">Todos los proyectos</h2>
    <button class="button-light">
      <svg class="svg-button" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
        <path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
      </svg>
      Añadir proyecto
    </button>
  </div>

  @if (loading) {
    <div class="loading-container">
      <h4>Cargando los proyectos</h4>
    </div>

  }@else  {
    
    <div class="projects-grid">
    

    @if (textError === '') {
        @for (project of projects; track $index) {
        

        @if (project.status === 'Terminado') {
          <div class="base-card base-card--terminated">

            <div class="info-container">
              <h3>{{project.name}}</h3>
              <p>{{project.zones}} zonas de estudio</p>

            </div>
            <div class="badge-container">
              <span class="badge badge--terminated">{{project.status}}</span>
            </div>
          </div>
        }@else {
          <div class="base-card">

              <div class="info-container">
                <h3>{{project.name}}</h3>
                <p>{{project.zones}} zonas de estudio</p>

              </div>
              <div class="badge-container">
                <span class="badge">{{project.status}}</span>
              </div>
          </div>
        }
      
      }

      @empty {
        <p>No hay nada skibidiCausa</p>
      }
    }@else {
      <p>Hubo un error</p>
    }


  </div>


  }


  <!-- Aquí se renderiza el detalle -->
  <router-outlet></router-outlet>
</div>