.main-layout{

  display: flex;
  height: 100dvh;
  width: 100%;
  padding: 20px;
  gap: 30px;

}

.sidebar-container{

  height: 95%;

}

.second-part{

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
