header{

    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    
}

.user-container{

    background-color: #3B7F23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    font-size: 0.9rem;



    padding: 2px 10px;
    background-color: #3B7F23; 
    border-radius: 10px;
    font-weight: 500;
    color: #fff;

    & p{
        margin: 0px 10px;
    }

}

