.home-container {
  width: 100%;
  height: 100%;
}

.home-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}