.home-container {
  width: 100%;
  height: 100%;
}

.home-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: 2;
  grid-row: 1;
}

.notifications-full-width {
  grid-column: 1 / -1;
  grid-row: 2;
}


.home-container {
  width: 100%;
  height: 100%;
}

.home-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.left-section {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: 2;
  grid-row: 1;
}


.notifications-full-width {
  grid-column: 1 / -1;
  grid-row: 2;
}
